<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.listofdishes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ListOfDishes">
        <activity
            android:name=".details.detailsActivity"
            android:exported="false" />
        <activity
            android:name=".details.MasalaLassi"
            android:exported="false" />
        <activity
            android:name=".details.OreoMilkshake"
            android:exported="false" />
        <activity
            android:name=".details.MangoMilkshake"
            android:exported="false" />
        <activity
            android:name=".details.PineappleMojito"
            android:exported="false" />
        <activity
            android:name=".details.MasalaSoda"
            android:exported="false" />
        <activity
            android:name=".details.Poori"
            android:exported="false" />
        <activity
            android:name=".details.PaneerTikka"
            android:exported="false" />
        <activity
            android:name=".details.IdliVada"
            android:exported="false" />
        <activity
            android:name=".details.FriedRice"
            android:exported="false" />
        <activity
            android:name=".details.Noodles"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>